<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

<div class="card">

    <form method="post" action="saveitem">







        Game: <input type="text" name="game" value="<%=loginName%>" required/>
        Creator <input type="text" name="creator" value="<%=loginName%>"required />
         Email <input type="email" name="email" value="<%=loginName%>"required />
         URl <input type="url" name="Link" value="<%=loginName%>"required />
        Date <input type="date"name="date" value="<%=loginName%>"required />

        <button class="btn" type="submit" name="submit">Save Item</button>

    </form>

</div>
<% include ./footer %>
</body>
</html>
